SERVER_API_PATH=/api/v1

# Address and port of the frontend http server listening on fetch requests
HTTP_PORT = 25000

# Address and port of the backend wormhole server listening for parallel connections
WORMHOLE_PORT = 25001

# Admin SDK file paths
ADMIN_AUTH_SDK_FILEPATH = ""
ADMIN_DB_SDK_FILEPATH = ""

# Realtime database config
DATABASE_FIREBASE_DATABASE_URL = ""
