SERVER_API_PATH=/api/v1

# The port on which the HTTP server will listen for incoming requests
HTTP_PORT = 25000

# The port on which the Wormhole will listen for incoming peer connections from OpenSpace
WORMHOLE_PORT = 25001

# Admin SDK file paths
ADMIN_AUTH_SDK_FILEPATH = ""
ADMIN_DB_SDK_FILEPATH = ""

# Realtime database config
DATABASE_FIREBASE_DATABASE_URL = ""

CORS_ORIGIN = ""

# Logs additional debug messages if set to true
DEBUG = "true"